/* src/components/navbar.css */
.btn-custom {
    font-size: 0.8rem; /* Tamaño de texto más pequeño */
    padding: 8px 12px; /* Ajusta el padding para cambiar el tamaño del botón */
    margin: 5px; /* Espaciado pequeño entre los botones */
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
  }
  
  .btn-custom:hover {
    background-color: #f5f5dc; /* Color de fondo al hacer hover */
    color: #333; /* Color del texto al hacer hover */
  }
 
  