/* src/components/section.css */
.section-container {
    margin-top: 50px; /* Espaciado superior para empujar hacia abajo */
    padding: 20px; /* Espaciado interno */
  }
  
  .section-title {
    font-size: 1.5rem; /* Tamaño de texto más pequeño */
    color: #333; /* Color del texto */
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 20px; /* Espaciado inferior para separar del contenido */
  }
